<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="text" value="C:\\Users\\Павел\\Documents\\Вариант12_ЗаневскийПавел_ПОИТ181_БД.docx"/>
    <add key="answer" value="Answer.txt"/>
  </appSettings>
</configuration>